<!DOCTYPE html>
<html lang="en">


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Ongoing</title>
    <meta name="description" content="Sample project testing views templating in Go">
    <meta name="author" content="Thiago Mallon">
    <link rel="icon" type="image/png" href="/static/img/favicon.png"/>

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Bootstrap files -->
    <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Users</div>
            <table class="table">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Occupation</th>
                    <th>Gender</th>
                    <th>Age</th>
                    <th>Actions</th>
                </tr>
                {{ range .Person }}
                <tr>
                    <td>{{.Id}}</td>
                    <td>{{.Name}}</td>
                    <td>{{.Email}}</td>
                    <td>{{.Occupation}}</td>
                    <td>{{.Gender}}</td>
                    <td>{{.Age}}</td>
                    <td>
                        <a class="btn btn-warning glyphicon glyphicon-cog" href="#">
                    <a class="btn btn-danger glyphicon glyphicon-remove" href="#">
                </td>
            </tr>
            {{ end }}
        </table>
    </div>
    </div>
    <script type="text/javascript" src="/static/js/app.js"></script>
    <script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>
